# Include license and readme
include LICENSE
include README.rst

# Include problem libraries data files
recursive-include python/optiprofiler/problem_libs *.py *.txt *.csv *.md
include python/optiprofiler/problem_libs/s2mpj/src/list_of_python_problems

# Exclude unnecessary files
global-exclude .git*
global-exclude .DS_Store
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
prune python/optiprofiler/problem_libs/pycutest/__pycutest_cache__
prune python/optiprofiler/problem_libs/*/.github
