name: MATLAB stress test

on:
  push:
    branches: [main, matlab]
  schedule:
    - cron: '0 0 * * *'  # Every day at midnight

jobs:

  test:

    name: MATLAB ${{ matrix.matlab }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 360
    continue-on-error: true

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        matlab: [R2023a, R2023b, latest]

    steps:

      - name: Check out repository (branch main) with submodules
        uses: actions/checkout@v4
        with:
          ref: matlab
          submodules: recursive

      - name: Set up MATLAB with optimization toolbox and parallel computing toolbox
        uses: matlab-actions/setup-matlab@v2
        with:
          release: ${{ matrix.matlab }}
          cache: false
          products: Optimization_Toolbox Parallel_Computing_Toolbox

      - name: Setup OptiProfiler and run tests
        uses: matlab-actions/run-command@v2.1.1
        with:
          command: |
            root_dir = pwd()

            % Setup OptiProfiler
            setup

            % Change the text 'variable_size=default' in `problems/s2mpj/config.txt` to
            % 'variable_size=all' to test all problems with variable sizes.
            % Change the text 'test_feasibility_problems=0' in `problems/s2mpj/config.txt` to
            % 'test_feasibility_problems=2' to test all problems as well.
            config_path = fullfile(root_dir, 'problems/s2mpj/config.txt');
            fid = fopen(config_path, 'w');
            if fid == -1
                error('Cannot open `config.txt` for writing.');
            end
            fprintf(fid, 'variable_size=all\n');
            fprintf(fid, 'test_feasibility_problems=2\n');
            fclose(fid);
            
            

            % Create a directory for the output
            mkdir('output')
            cd output

            % Test installation
            testOptiProfiler

            % Add './matlab/optiprofiler/tests/action_tests' to the path
            addpath(fullfile(root_dir, 'matlab/optiprofiler/tests/action_tests'))

            % Generate the benchmark_id with operating system and MATLAB version
            os = computer('arch');
            matlab_version = version('-release');
            benchmark_id = ['os_', os, '_matlab_', matlab_version];

            % Run the action tests
            stress_test(benchmark_id)

      - name: Upload all artifacts
        uses: actions/upload-artifact@v4
        with:
          name: out_${{ matrix.os }}_${{ matrix.matlab }}
          path: output/

  # The following job check whether the tests were successful or cancelled due to timeout.
  # N.B.: Remember to specify `continue-on-error: true` for the job of the tests.
  check_success_timeout:
    runs-on: ubuntu-latest
    if: ${{ !cancelled() }}
    needs: test
    steps:
      - name: Clone the GitHub actions scripts
        uses: actions/checkout@v4.2.2
        with:
          repository: OptHuang/github_actions_scripts
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY_ACT }} # This forces checkout to use SSH, not HTTPS
          path: scripts

      - name: Check whether the tests were successful or cancelled due to timeout
        run: bash scripts/check_success_timeout ${{ secrets.GITHUB_TOKEN }} ${{ github.repository }} ${{ github.run_id }}
  
  workflow_status:
    runs-on: ubuntu-latest
    if: always()
    needs: check_success_timeout
    steps:
      - name: Set workflow status based on check_success_timeout
        run: |
          if [ "${{ needs.check_success_timeout.result }}" != "success" ]; then
            echo "check_success_timeout task failed with result: ${{ needs.check_success_timeout.result }}"
            exit 1
          else
            echo "All tests were either successful or cancelled due to timeout as expected."
          fi