# Code coverage

name: test-python

on:
  push:
    branches: [main, python]
  pull_request:
    branches: [main, python]
  workflow_dispatch:

jobs:
  run:
    name: Generate coverage report for Python ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.8', '3.9', '3.10', '3.11']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install CUTEst on Linux and macOS
        if: ${{ runner.os == 'Linux' || runner.os == 'macOS' }}
        run: bash .github/actions/test-python/install-cutest.sh

      - name: Generate coverage reports
        run: bash .github/actions/test-python/run-tests.sh

      - name: Upload coverage reports
        if: ${{ github.event_name != 'pull_request' }}
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
